body {
    font-family: 'Open Sans', sans-serif;
}

.banner-container {
    background-color: rgb(170, 186, 187);
}

.banner-column {
    background-color: azure;
}

.navbar-container {
    background-color: #262B37;
}